.nav-link{
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
  background: black;
  color: white;
  list-style: none;
  border-spacing: 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;


}
.nav-link:hover{
  color:black;
  background:lightgray;
}