* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif; }

.homepage {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right bottom, white, #9fc7ec);
  position: relative; }
  .homepage .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px; }
    .homepage .header_name {
      font-size: 20px;
      margin-left: 10px; }
      .homepage .header_name img {
        max-width: 100%;
        width: 200px;
        transform: translateY(30px); }
    .homepage .header header {
      padding-right: 20px; }
      .homepage .header header ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-around;
        list-style: none; }
        .homepage .header header ul li {
          margin-left: 25px; }
          .homepage .header header ul li a {
            text-decoration: none;
            font-size: 18px;
            color: #399fff;
            padding: 10px;
            transition: 1s; }
            .homepage .header header ul li a:not(:hover) {
              border: none;
              border-radius: 5px;
              background: white;
              box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12); }

.greet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background: transparent;
  border: 1px solid #5ac6f8;
  width: 200px;
  border-radius: 5px;
  margin-top: 5px;
  color: #5ac6f8;
  margin-top: 20px;
  font-size: 24px;
  transition: 1s; }
  .greet:hover {
    cursor: pointer;
    color: white;
    background: #5ac6f8; }
  .greet img {
    width: 30px;
    margin-left: 10px; }

.info {
  position: absolute;
  top: 35%;
  left: 10%;
  display: flex;
  flex-direction: column; }
  .info h1 {
    width: 450px;
    padding: 5px; }
    .info h1:first-child {
      font-size: 83px; }
  .info p {
    margin-left: 5px;
    font-size: 20px;
    width: 500px; }

.bg-img {
  position: absolute;
  top: 25%;
  right: 10%;
  margin-left: auto; }
